$colorPrimary: rgba(0, 180, 255, 1);
$colorSecondary: rgba(180, 240, 255, 1);
$colorAccent: rgba(0, 120, 195, 1);
$colorWarning: rgba(255, 140, 0, 1);
$colorDanger: rgba(255, 60, 0, 1);
$colorTwitch: #772ce8;